{% extends "manuti/_layouts/baselogin.html" %}
{% block title %}Faça o login{% endblock %}
{% block conteudo %}


<div style="position: absolute; height: 116px; top: 50%; width: 100%; left: 0;">
    <div style="position: relative; height: 116px; top: -58px;">
       
        <div class="row">
            
            <div class="container col-md-4"></div>
            <div class="container col-md-6">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">Login</h5>

                        {% if form.errors %}
                            <p>Seu usuário ou senha não conferem. Por favor tente novamente.</p>
                        {% endif %}
                        
                        {% if next %}
                            {% if user.is_authenticated %}
                            <p>Você não tem permissão para acessar essa página.</p>
                            {% else %}
                            <p></p>
                            {% endif %}
                        {% endif %}
                        
                        <form class="form-signin" method="post" action="{% url 'login' %}">
                                                        
                            {% csrf_token %}
                            <table>
                                
                            <tr>
                                
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            
                            </tr>
                            <tr>                                
                                <td> <p></p></td>                        
                            
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                            
                            </table>
                        </br>
                           <center> <input type="submit" value="acessar" /> </center>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    </div>
      

   
        
{% endblock %}