<!doctype html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href= "{% static '/manuti/img/favicon.png'%}">
  <link rel="icon" type="image/png" href="{% static '/manuti/img/favicon.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}Sistema de Gerenciamento de Atividades de Manutenção{% endblock %}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static '/assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% block styles %}{% endblock %}
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
          <a class="navbar-brand" href="{% url 'manuti:index' %}">
              <img src="{% static 'manuti/img/favicon.png' %}" height="45px">
            </a>
        <class="simple-text logo-normal">
          SuperManuTI</class>     
      </div>
      
    </div>
    <div class="main-panel">
      
      <!-- Navbar -->
      {% comment %} <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
         
          
         
      </nav> {% endcomment %}

      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success fixed-top">
          <div class="container col-md-12">
            <div class="navbar-wrapper">
                
              <a class="navbar-brand"  href="{% url 'manuti:index' %}"><h3>SuperManuTI</h3></a>
              <i class="material-icons">build</i>
            </div>
            

            

               
            </div> 
          </div>
        </nav>
      <!-- End Navbar -->
      
          <!-- Texto para comprovar autenticação -->
          <div class="container-fluid mt-5">
          </br>
          
  

          <!-- your content here -->
          {% block conteudo %}{% endblock %}

        </div>
      
      
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/popper.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/bootstrap-material-design.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js'%}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static '/assets/js/plugins/chartist.min.js'%}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js'%}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/material-dashboard.min.js'%}" type="text/javascript"></script>

  <script src="{% static '/manuti/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/manuti/js/jquery.min.js' %}"></script>
  <!--<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
   You can alternatively load the minified version 
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>-->
</body>

</html>