
{% load static tempo_atual %}

<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portal Goiano</title>

    <!-- Bootstrap core CSS-->
    
    
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    
    

    <!-- Custom fonts for this template-->
    

    <!-- Page level plugin CSS-->
    <link href="{% static '/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static '/css/sb-admin.css' %}" rel="stylesheet">

    
    <!-- mesclando templates bootstrap-->


    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Title -->
        <title>{% block title %}Sistema de Gerenciamento de Funcionários{% endblock %}</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'manuti/img/favicon.png' %}" type="image/png">

        <!-- Arquivos CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'manuti/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'manuti/css/master.css' %}">

        {% block styles %}{% endblock %}

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-primary static-top">

      <a class="navbar-brand mr-1" href="index.html">Portal Goiano</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>


    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Apps</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-fighter-jet"></i>
            <span>SuperManut</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="twitta">
            <i class="fab fa-twitter"></i>
            <span>Twitta Conexão</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sistemalayla">
            <i class="fas fa-fw fa-table"></i>
            <span>Sistema Layla</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">




<!-- Conteúdo do site -->


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'manuti:index' %}">
      <img src="{% static 'manuti/img/favicon.png' %}" height="45px">
    </a>
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'manuti:index' %}">ManuTI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manuti:lista_registros' %}">Registros</a>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            
        </ul>
    </div>
</nav>

<!-- Conteúdo do site -->
{% block conteudo %}{% endblock %}

<!-- Scripts .js -->
<script src="{% static 'manuti/js/jquery.min.js' %}"></script>
<script src="{% static 'manuti/js/bootstrap.min.js' %}"></script>

{% block scripts %}{% endblock %}

<script src="{% static 'manuti/js/scripts.js' %}"></script>


          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Portal Goiano 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static '/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static '/vendor/datatables/jquery.dataTables.js' %} "></script>
    <script src="{% static '/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static '/js/demo/datatables-demo.js' %}"></script>
    <script src="{% static '/js/demo/chart-area-demo.js' %}"></script>

  </body>

</html>
