<!doctype html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href= "{% static '/manuti/img/favicon.png'%}">
  <link rel="icon" type="image/png" href="{% static '/manuti/img/favicon.png'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}Sistema de Gerenciamento de Atividades de Manutenção{% endblock %}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static '/assets/css/material-dashboard.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

  {% block styles %}{% endblock %}
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
          <a class="navbar-brand" href="{% url 'manuti:index' %}">
              <img src="{% static 'manuti/img/favicon.png' %}" height="45px">
            </a>
        <class="simple-text logo-normal">
          SuperManuTI</class>     
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {{view.activeindex}}  ">
            <a class="nav-link" href="{% url 'manuti:index' %}">
              <i class="material-icons">dashboard</i>
              <p>DashBoard</p>
            </a>
          </li>
          <!-- your sidebar here 
                <li class="nav-item {{view.activeusuario}}">
                  <a class="nav-link" href="#">
                    <i class="material-icons">person</i>
                    <p>Usuário</p>
                  </a>-->
                </li> 
                <li class="nav-item {{view.activeatividade}}">
                  <a class="nav-link" href="{% url 'manuti:atividade_manuti' %}">
                    <i class="material-icons">miscellaneous_services</i>
                    <p>Manutenção</p>
                  </a>
                </li>                
                <li class="nav-item {{view.activesiloms}}">
                  <a class="nav-link" href="{% url 'manuti:siloms' %}">
                    <i class="material-icons">gavel</i>
                    <p>Siloms</p>
                  </a>
                </li>
                <li class="nav-item {{view.activeemergencia}}">
                    <a class="nav-link" href="{% url 'manuti:emergencias' %}">
                      <i class="material-icons">warning</i>
                      <p>Emergências</p>
                    </a>
                  </li>
                <li class="nav-item {{view.activeferramenta}}">
                    <a class="nav-link" href="{% url 'manuti:ferramentas' %}">
                      <i class="material-icons">handyman</i>
                      <p>Ferramentas</p>
                    </a>
                  </li>
                  <li class="nav-item {{view.activepane}}">
                    <a class="nav-link" href="{% url 'manuti:panes' %}">
                      <i class="material-icons">bug_report</i>
                      <p>MFL</p>
                    </a>
                  </li>
                {% comment %} <li class="nav-item ">
                  <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                  </a>
                </li> {% endcomment %}

        </ul>
      </div>
    </div>

    
      <!-- Navbar -->
  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-dark bg-success">

      <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" 
      aria-label="Toggle navigation">
      <font color = "#fff"><i class="material-icons">menu</i></font>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">

              {% if user.is_authenticated %}
            <p class="logged-in-p">
                Olá {{ user.username }} seja bem vindo  
                <span class="Sair"><a href="{% url 'logout' %}"> <font color = "#0c4003">| Sair | </font> </a></span>
            </p>
              {% endif %}
           
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item dropdown">
            
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button> -->
        </form>
        
      </div>
    </nav>
      <!-- End Navbar -->
            <div class="col-md-12">
                        <!-- your content here -->
              {% block conteudo %}{% endblock %}

            </div>

        
      
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Portal Goiano <i class="material-icons">nature_people</i> 
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static '/assets/js/core/jquery.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/popper.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/core/bootstrap-material-design.min.js'%}" type="text/javascript"></script>
  <script src="{% static '/assets/js/plugins/perfect-scrollbar.jquery.min.js'%}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="{% static '/assets/js/plugins/chartist.min.js'%}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static '/assets/js/plugins/bootstrap-notify.js'%}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static '/assets/js/material-dashboard.min.js'%}" type="text/javascript"></script>

  <script src="{% static '/manuti/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/manuti/js/jquery.min.js' %}"></script>

  <!--<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
   You can alternatively load the minified version 
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>-->
</body>

</html>