{% load static %}
<!-- Modal Editar-->
<div class="modal fade" id="myModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalEditarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title ls-ico-pencil2" id="myModalEditarLabel"> Editar Registro</h2>
                </div>
                <div class="modal-body">  
                    <div class="panel-body">                            
                        <!-- Begin # DIV Form -->
                        <div id="div-forms">

                            <!-- Begin # Login Form -->
                            <form action="twittaConexaoDB?action=editadispositivo" method="post"> 
                                <div class="form-group container-fluid col-md-12">
                                    <div class="container col-md-3"></div>
                                    <div class="container col-md-2">
                                        <input id="id" class="form-control" type="text" name="anv" placeholder="Aeronave" required> 
                                        {{ registro.anv }}
                                    </div>
                                    <div class="container col-md-2">
                                        <button type="button" class="btn btn-info btn-info ls-ico-search" >
                                            
                                            Buscar                                                
                                        </button>  
                                    </div>  
                                    <div class="container col-md-5"></div> 
                                </div>
                                <div class="form-group container-fluid col-md-12 ">                                                                
                                    <div class="container col-md-3"></div> 
                                    <div class="container col-md-9">
                                        <input id="nome" class="form-control" type="text" name="nome" placeholder="Título" required>
                                        <br/> {{ registro.titulo }}</div>
                                    <div class="container col-md-3"></div>
                                    <div class="container col-md-9">
                                        <input id="mac" class="form-control" type="text" name="mac" placeholder="pn" required>
                                        <br/>{{ registro.partnumber }}</div> 
                                </div>
                        </div>
                    </div>


                    <!-- BOTÕES DE AÇÕES -->
                    <div class="form-group">
                        <div style="alignment-adjust: central" ><center>
                                <span id="load"></span>
                                <input type="submit" name="btnsubmit" class="btn btn-success" aria-label="Left Align">
                                <input type="reset" name="btnreset" class="btn btn-danger" aria-label="Right Align">
                            </center>
                        </div>                                   
                    </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
<!-- fim do modal-->