{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Emergência{% endblock %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualizar Emergência</h5>
          <form method="post">
              <!-- Não se esqueça dessa tag -->
              {% csrf_token %}
              <div class = "container col-md-12">
          <div class = "row">
            <!-- Data -->
            <div class = "container col-md-4">
            <div class="input-group mb-3" >
                <div class="input-group-text">
                  <span class="input-group-text">Data:</span>
                </div>
                {% render_field form.data class+="form-control"%}
              </div>
            </div>

             <!-- Aeronave -->
                <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Aeronave:</span>
                  </div>
                  {% render_field form.anv class+="form-control" %}
                </div>
            </div>
            
              <!-- Número da Emergência -->
              <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Nº Emergência:</span>
                  </div>
                  {% render_field form.emergencia class+="form-control" %}
                </div>
              </div>
            </div>   

          
              <div class = "row">
              <!-- Tipo -->
              <div class = "container col-md-4">
              <div class="input-group mb-3" >
                  <div class="input-group-text">
                    <span class="input-group-text">Tipo:</span>
                  </div>
                  {% render_field form.tipo class+="form-control"%}
                </div>
              </div>
              
                <!-- Número da O.S -->
                <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Nº O.S:</span>
                  </div>
                  {% render_field form.ordemdeservico class+="form-control" %}
                </div>
              </div>

                <!-- Equipamento -->
              <div class = "container col-md-4">
              <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Equipamento:</span>
                  </div>
                  {% render_field form.equipamento class+="form-control" %}
                </div>
              </div>
              
              </div>
          
          <div class="text-right">
            {% comment %} <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-info">Voltar</a> {% endcomment %}
            <button class="btn btn-success">Enviar</button>
          </div>
        </form>        
      </div>
      </div>
    </div>
  </div>

{% endblock %}