<!-- Estendemos do template base -->
{% extends "manuti/_layouts/indexMaterial.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}SuperManuTI{% endblock %}

{% load widget_tweaks %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
</br> <center>
  <h5> Registros de Atividades de Manutenção  </h5> </center>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Registros de Atividades de Manutenção</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Registro</code>.
          </p>
          <a href="{% url 'manuti:cadastra_registro' %}"
             class="btn btn-success">
            Novo Registro
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lista de Registros por ANV</h5>
            <p class="card-text">
              Veja aqui a lista de Registro de Atividades de  <code>Manutenção</code>.
            </p>
            <a href="{% url 'manuti:lista_regaeronaves' %}"
               class="btn btn-success">
              Ver Registros
            </a>
          </div>
        </div>
      </div>
 
    <div class="col-lg-4">
          <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Lista de Todos Registros</h5>
                        <p class="card-text">
                          Veja aqui a lista de <code> Todos Registros</code> cadastrados.
                        </p>
                        <a href="{% url 'manuti:lista_registros' %}"
                          class="btn btn-success">
                          Vá para Lista
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </br> 
        <div class="container ">
          <hr>        
          <center> <h5>  Instalação/Remoção de Equipamentos </h5></center> 
        <div class="row">
        <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Cadastrar Equipamento na Aeronave</h5>
                    <p class="card-text">
                      Cadastre aqui um novo <code>Equipamento</code>.
                    </p>
                    <a href="{% url 'manuti:cadastra_equipamento' %}"
                       class="btn btn-success">
                      Novo Equipamento
                    </a>
                  </div>
                </div>
              </div>

      <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lista de Equipamentos por ANV</h5>
                <p class="card-text">
                  Veja aqui a lista de  equipamentos instalados em cada <code>Aeronave</code>.
                </p>
                <a href="{% url 'manuti:lista_aeronaves' %}"
                   class="btn btn-success">
                  Ver Equipamentos
                </a>
              </div>
            </div>
          </div>
        


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Lista de Todos Equipamentos</h5>
                      <p class="card-text">
                        Veja aqui a lista de <code> Todos Equipamentos </code> Instalados.
                      </p>
                      <a href="{% url 'manuti:lista_equipamentos' %}"
                         class="btn btn-success">
                        Vá para Lista
                      </a>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              
              </br>
      
              <div class="container ">
                <hr>
              <h5> <center> Entrada/Saída de Item de Suprimento </center> </h5>
              <div class="row">
              <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Cadastrar Item de Suprimento</h5>
                          <p class="card-text">
                            Cadastre aqui um novo <code>Item de Suprimento</code>.
                          </p>
                          <a href="{% url 'manuti:cadastra_suprimento' %}"
                             class="btn btn-success">
                            Novo Item
                          </a>
                        </div>
                      </div>
                    </div>
      
            <div class="col-lg-4">
                  
                </div>
              
      
      
                      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Lista de Itens de Suprimento</h5>
                            <p class="card-text">
                              Veja aqui a lista de <code> Todos Itens de Suprimento </code> Cadastrados.
                            </p>
                            <a href="{% url 'manuti:lista_suprimento' %}"
                               class="btn btn-success">
                              Vá para Lista
                            </a>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>



{% endblock %}
