{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Suprimento{% endblock %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualizar Item de Suprimento</h5>
          <br>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <div class = "col-md-12">
                <div class = "row">
  
                 <div class = "col-md-03">
                                 
                  <!-- Aeronave -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Opção</span>
                      </div>
                      {% render_field form.opcaosup class+="form-control" %}
                    </div>
                    </div>
            
                    <div class = "col-md-03">
                <!-- Nome -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Data:</span>
                    </div>
                    {% render_field form.data class+="form-control" %}
                  </div>
                  </div>
                  <div class = " col-md-03"></div>
                  <div class = " col-md-03">
                <!-- Combs -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Nome:</span>
                    </div>
                    {% render_field form.nome class+="form-control" %}
                      </div>
                    </div>
              </div>
              <br>
  
              <div class = "row">
                  <div class = " col-md-03">  
              <!-- Part Number-->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">PN:</span>
                </div>
                {% render_field form.partnumber class+="form-control" %}
              </div>
              </div>
              <div class = " col-md-03"></div>
              <div class = " col-md-03">
              <!-- Serial Number -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">SN:</span>
                </div>
                {% render_field form.serialnumber class+="form-control" %}
              </div>
              </div>
              <div class = " col-md-03">
                <!-- recol-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Recol:</span>
                  </div>
                  {% render_field form.recol class+="form-control" %}
                </div>
              </div>
  
            </div>
                
   
              <hr>
              <div class="text-right">
                <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-info">Voltar</a>
                <button class="btn btn-success">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}