{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Atividades de Manutenção{% endblock %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualizar Atividades de Manutenção</h5>
          <form method="post">
              <!-- Não se esqueça dessa tag -->
              {% csrf_token %}
              <div class = "container col-md-12">
          <div class = "row">
            <!-- Data -->
            <div class = "container col-md-4">
            <div class="input-group mb-3" >
                <div class="input-group-text">
                  <span class="input-group-text">Data:</span>
                </div>
                {% render_field form.data class+="form-control"%}
              </div>
            </div>

            <!-- tempo -->
            <div class = "container col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <span class="input-group-text">Tempo:</span>
                </div>
                {% render_field form.tempo class+="form-control" %}
              </div>
            </div>
            
              <!-- Aeronave -->
              <div class = "container col-md-4">
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <span class="input-group-text">Aeronave:</span>
                </div>
                {% render_field form.anv class+="form-control" %}
              </div>
            </div>
          </div>

          
              <!-- titulo -->
              <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Título:</span>
                  </div>
                  {% render_field form.titulo class+="form-control" %}
                </div>
              
                <div class = "row">
              <!-- Ocorrência -->
              <div class="container col-md-6">
              
                  <div class="input-group-text">
                    <span class="input-group-text">Ocorrência:</span>
                  </div>
                  {% render_field form.ocorrencia class+="form-control" %}
                
              </div>

                <!-- Solução -->
                <div class="container col-md-6">
                
                    <div class="input-group-text">
                      <span class="input-group-text">Solução:</span>
                    </div>
                    {% render_field form.solucao class+="form-control" %}
                  
                </div>
              </div>
              
              </div>
          
          <div class="text-right">
            {% comment %} <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-info">Voltar</a> {% endcomment %}
            <button class="btn btn-success">Enviar</button>
          </div>
        </form>        
      </div>
      </div>
    </div>
  </div>

{% endblock %}