{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Ferramenta{% endblock %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualizar Ferramenta</h5>
          <br>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <div class = "col-md-12">
                <div class = "row">
  
                 <div class = "col-md-06">
                                 
                  <!-- Nome -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Equipamento</span>
                      </div>
                      {% render_field form.nome class+="form-control" %}
                    </div>
                    </div>
            
                    <div class = "col-md-06">
                <!-- Descrição -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Ferramenta:</span>
                    </div>
                    {% render_field form.descricao class+="form-control" %}
                  </div>
                  </div>
                  
              <hr>
              <div class="text-right">
                <a href="{% url 'manuti:ferramentas' %}" class="btn btn-outline-info">Voltar</a>
                <button class="btn btn-success">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}