{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Pane de Aviônica{% endblock %}

{% block conteudo %}

<div class="container"> 
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Panes Aviônica</h5>
          <p class="card-text">
            Digite o código da MFL
            
          </p>
          
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}
            
              <div class = "row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class=" search-div">
                      <form method="GET">
                                   
                        <input type="text" class="form-control" name="search" id="search" placeholder="Ex: RDR001, CMFD001...">
                              
                      </form>       
                    </div>
               
                  <div class="card-body">
                    
                  {% if panes|length > 0 %}  
                  
                  <div class ="table-responsive">
                  <table class="table table-striped">
                      <thead class="card-header card-header-info">
                          <div class="ct-chart" id="#"></div>
                        <tr>
                          <th scope="col">MFL</th>
                          <th scope="col">Descrição</th>
                                                    
                        </tr>
                        </thead>
                        <tbody>
              <!-- Descrição -->
              {% for pane in panes %}
              <tr>
                <th scope="row">{{ pane.codigo }}</th>
                <td>{{ pane.descricao }}</td>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
            {% else %}
              <div class="text-center mt-5 mb-5 jumbotron">
                <h5>Nenhuma <code>Pane</code> foi pesquisada ainda.</h5>
              </div>
            {% endif %}
 
            <hr>
           
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}