{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Equipamentos{% endblock %}



{% block conteudo %}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lista de Equipamentos Instalados</h5>
      
                {% if combs|length > 0 %}
                  <p class="card-text">
                    Aqui está a lista dos <code>Ultimos Equipamentos COMBS</code> Instalados.
                  </p>
      
                  <table class="table table-striped" >
                    <thead class="card-header card-header-info">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    <tr>
                      <th scope="col">Aeronave</th>
                      <th scope="col">Nome</th>
                      <th scope="col">PN</th>
                      <th scope="col">SN</th>
                      
                      <th scope="col" class="text-center">Resolver </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comb in combs %}
                      <tr>
                        <th scope="row">{{ comb.aeronave }}</th>
                        <td>{{ comb.nome }}</td>
                        <td> {{comb.partnumber }}</td>
                        <td> {{comb.serialnumber }}</td>
                        
                        <td class="text-center">

                          {% if comb.resolvecombs == False %}
                          <a href="{% url 'manuti:resolvecombs' pk=comb.id %}">
                          <button type="button" class="btn btn-danger bmd-btn-fab "> 
                            <i class="material-icons">  thumb_down </i>  
                          </button>
                          </a>{%else%}
                          <a href="{% url 'manuti:resolvecombs' pk=comb.id %}">
                          <button type="button" class="btn btn-success bmd-btn-fab  "> 
                            <i class="material-icons">  thumb_up </i>  
                          </button>
                          </a>{%endif%}              
                         </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                  <h5>Nenhum <code>Equipamento</code> instalado ainda.</h5>
                </div>
              {% endif %}
                <hr />
               
              </div>
            </div>
          </div>
        </div>
      

{% endblock %}