{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block conteudo %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Usuário</h5>
          <p class="card-text">
            Complete o formulário abaixo para Cadastrar
            um <code>Usuário</code>.
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}
            <div class = "col-md-12">
              <div class = "row">

                         
                  <div class = "col-md-03">
              <!-- Nome -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nome:</span>
                  </div>
                  {% render_field form.nome class+="form-control" %}
                </div>
                </div>
                <div class = " col-md-03"></div>
                <div class = " col-md-03">
              <!-- Usuário -->
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Usuário:</span>
                  </div>
                  {% render_field form.usuario class+="form-control" %}
                    </div>
                  </div>
                  <div class = "col-md-03">
                               
             <!-- Setor -->
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Seção:</span>
                </div>
                {% render_field form.setor class+="form-control" %}
              </div>
              </div>
            </div>
            <br>

            <div class = "row">
                <div class = " col-md-03">  
            <!-- Part Number-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Senha:</span>
              </div>
              {% render_field form.senha class+="form-control" %}
            </div>
            </div>
            <div class = " col-md-03"></div>
            <div class = " col-md-03">
            <!-- Serial Number -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Confirmar Senha:</span>
              </div>
              
            </div>
            </div>
            <div class = " col-md-03"></div>

          </div>
            <hr>
            <div class="text-right">
              <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-danger">Cancelar</a> 
              <button class="btn btn-success">Enviar</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}