{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Pedidos de Emergência{% endblock %}

{% block conteudo %}

<div class="container"> 
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      <div class="card">
        <div class="card-body">
            <br><br>
          <h3 class="card-title">Registro de Emergências da Seção de Aviônica </h3>
        <br>
                        
    <form method="post">
                <!-- Não se esqueça dessa tag -->
                {% csrf_token %}
        <div class = "container col-md-12">
            <div class = "row">
              <!-- Data -->
              <div class = "container col-md-4">
              <div class="input-group mb-3" >
                  <div class="input-group-text">
                    <span class="input-group-text">Data:</span>
                  </div>
                  {% render_field form.data class+="form-control"%}
                </div>
              </div>

               <!-- Aeronave -->
                <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Aeronave:</span>
                  </div>
                  {% render_field form.anv class+="form-control" %}
                </div>
            </div>
            

              <!-- Número da Emergência -->
              <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Nº Emergência:</span>
                  </div>
                  {% render_field form.emergencia class+="form-control" %}
                </div>
              </div>
            </div>             
               
    <div class = "row">
              <!-- Tipo -->
              <div class = "container col-md-4">
              <div class="input-group mb-3" >
                  <div class="input-group-text">
                    <span class="input-group-text">Tipo:</span>
                  </div>
                  {% render_field form.tipo class+="form-control"%}
                </div>
              </div>

               <!-- Número da O.S -->
                <div class = "container col-md-4">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Nº O.S:</span>
                  </div>
                  {% render_field form.ordemdeservico class+="form-control" %}
                </div>
              </div>

              <!-- Equipamento -->
              <div class = "container col-md-4">
              <div class="input-group mb-3">
                  <div class="input-group-text">
                    <span class="input-group-text">Equipamento:</span>
                  </div>
                  {% render_field form.equipamento class+="form-control" %}
                </div>
              </div>
    </div>  

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Atenção Mantenedor!!!</h5>
                    <p class="card-text">
                      Por favor, seja fiel com os dados retirados do SILOMS.
                    </p>
                   
                  </div>
                </div>
            
            <div class="text-right">
              {% comment %} <a href="{% url 'manuti:index' %}" class="btn btn-outline-info">Voltar</a> {% endcomment %}
              <button class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
        </div>
        </div>
        </div>
      </div>
    
   
{% endblock %}
