{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Atividades de Manutenção{% endblock %}

{% block conteudo %}
<!--
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 co{% load widget_tweaks %}l-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Atividades de Manutenção</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            um novo <code>Registro</code>.
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag 
            {% csrf_token %}

           <!-- Data 
           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Data</span>
              </div>
              {% render_field form.data class+="form-control" type="textarea" %}
            </div>

            <!-- tempo 
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">tempo</span>
              </div>
              {% render_field form.tempo class+="form-control" %}
            </div>

            <!-- Aeronave 
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Aeronave</span>
              </div>
              {% render_field form.anv class+="form-control" %}
            </div>

            <!-- titulo 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Título</span>
                </div>
                {% render_field form.titulo class+="form-control" %}
              </div>
              
             <!-- Ocorrência 
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Ocorrência</span>
                </div>
                {% render_field form.ocorrencia class+="form-control" %}
              </div>
              <!-- Solução 
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Solução</span>
                  </div>
                  {% render_field form.solucao class+="form-control" %}
                </div>
 
            <hr>
            <div class="text-right">
              <a href="{% url 'manuti:lista_registros' %}" class="btn btn-outline-info">Voltar</a>
              <button class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->

<form method="post" action="">
  
    {% csrf_token %}
  
   <div class="modal-header">
      <h5 class="modal-title">Registro de Atividades de Manutenção</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
    
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" placeholder=field.label %}
            <div class="{% if field.errors %} invalid{% endif %}">
              {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    
      <div class="modal-footer">
          
        <button type="button" class="subimit-btn btn btn-success">Salvar</button>
      </div>
  
  </form>
{% endblock %}