{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Cadastro de Ferramenta{% endblock %}

{% block conteudo %}

<div class="container"> 
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Ferramenta</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar uma ferramenta.
            
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}
            <div class = "col-md-12">
              <div class = "row">

               <div class = "col-md-06">
                               
                <!-- NOME -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Equipamento: </span>
                    </div>
                    {% render_field form.nome class+="form-control" %}
                  </div>
                  </div>
          
                 
              <!-- Descrição -->
                
                <div class="container col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                          <span class="input-group-text">Ferramenta:</span>
                        </div>
                        {% render_field form.descricao class+="form-control" %}
                      </div>
                    </div>
                
 
            <hr>
            <div class="text-right">
              {% comment %} <a href="{% url 'manuti:index' %}" class="btn btn-outline-info">Voltar</a> {% endcomment %}
              <button class="btn btn-success">Enviar</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}