{% extends "manuti/_layouts/indexMaterial.html" %}

{% load widget_tweaks %}

{% block title %}Instalação de Equipamentos em Aeronave{% endblock %}

{% block conteudo %}

<div class="container"> 
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instalação de Equipamento</h5>
          <p class="card-text">
            Complete o formulário abaixo para Instalar
            um <code>Equipamento</code>.
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}
            <div class = "col-md-12">
              <div class = "row">

               <div class = "col-md-4">
                               
                <!-- Aeronave -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Aeronave</span>
                    </div>
                    {% render_field form.aeronave class+="form-control" %}
                  </div>
                  </div>
          
                  <div class = "col-md-4">
              <!-- Nome -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Nome:</span>
                  </div>
                  {% render_field form.nome class+="form-control" %}
                </div>
                </div>               
               
            <br>

            <div class = "row">
                <div class = " col-md-4">  
            <!-- Part Number-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">PN:</span>
              </div>
              {% render_field form.partnumber class+="form-control" %}
            </div>
            </div>
            
            <div class = " col-md-4">
            <!-- Serial Number -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">SN:</span>
              </div>
              {% render_field form.serialnumber class+="form-control" %}
            </div>
            </div>
            <div class = " col-md-03"></div>

          </div>
              
 
            <hr>
            <div class="text-right">
              {% comment %} <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-info">Voltar</a> {% endcomment %}
              <button class="btn btn-success">Enviar</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}