<!-- Estendemos do template base -->
{% extends "manuti/_layouts/indexMaterial.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
 
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Exclusão Equipamento</h5>

        <p class="card-text">
          Você tem certeza que quer excluir o <b>{{ equipamentoanvsdelete.nome}} </b> da aeronave <b> {{ equipamentoanvsdelete.aeronave }}</b>?
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <div class="text-right">
            <a href="{% url 'manuti:lista_equipamentos' %}" class="btn btn-outline-info">
              Cancelar
            </a>


            <button class="btn btn-danger">Excluir</button>
         
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}