{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Equipamentos{% endblock %}

{% load primeira_letra %}

{% block conteudo %}

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lista de Registros de Aeronaves</h5>
  
            {% comment %} {% if registro|length > 0 %} {% endcomment %}
              <p class="card-text">
                Aqui está a lista das <code>Aeronaves</code> cadastradas.
              </p>
  
              <table class="table">
                
                <tbody>
                
                  <tr>
                                        
                    <td class="text-center">
                      <a href="{% url 'manuti:lista_equipamentos_aeronave' fk=aeronave.id %}"
                         class="btn btn-success">
                        Visualizar
                      </a>
                      
                    </td>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card card-chart">
                            <div class="card-header card-header-success">
                              <div class="ct-chart" id="dailySalesChart"></div>
                            </div>
                            <div class="card-body">
                              <h4 class="card-title">{{ aeronave.nome }}</h4>
                              <p class="card-category">
                                  <span class="text-success"><i class="fa fa-flight"></i> 55% </span> increase in today sales.</p>
                            </div>
                            <div class="card-footer">
                              <div class="stats" >
                                <a href="{% url 'manuti:lista_registros_aeronave' fk=aeronave.id %}"
                          class="btn btn-success" "text-center">
                          Visualizar
                        </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                  </tr>
               
                </tbody>
              </table>
          {% comment %} {% else %}
            <div class="text-center mt-5 mb-5 jumbotron">
              <h5>Nenhuma <code>Aeronave /code> cadastrada</h5>
            </div>
          {% endif %} {% endcomment %}
            <hr />
            
          </div>
        </div>
      </div>
    </div>


{% endblock %}