{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Ferramentas{% endblock %}



{% block conteudo %}
 

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class=" search-div">
                <form method="GET">
                             
                  <input type="text" class="form-control" name="search" id="search" placeholder="PESQUISAR">
                        
                </form>       
              </div>
              <div class="card-body">
                <h5 class="card-title">Lista de Ferramentas</h5>
      
                {% if ferramentas|length > 0 %}
                  <p class="card-text">
                    Aqui está a lista das <code>Ferramentas Cadastradas </code> 
                  </p>
                <div class ="table-responsive">
                  <table class="table table-striped" >
                    <thead class="card-header card-header-info">
                        <div class="ct-chart" id="#"></div>
                    <tr>
                      <th scope="col">Equipamento</th>
                      <th scope="col">Ferramenta</th>
                      <th scope="col" class="text-center">Alterar </th>
                      <th scope="col" class="text-center">Excluir </th>
                      <th scope="col" class="text-center">
                      <div class="text-right">
                    <a href="{% url 'manuti:cadastra_ferramenta' %}">
                        <button type="button" class="btn-primary bmd-btn-fab">
                            <i class="material-icons">add</i>
                        </button>
                    </a>
                </div>
                       </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ferramenta in ferramentas %}
                      <tr>
                        <th scope="row">{{ ferramenta.nome }}</th>
                        <td>{{ ferramenta.descricao }}</td>
                                                
                        
                        <td class="text-center">

                        <a href ="{% url 'manuti:atualiza_ferramenta' pk=ferramenta.id %}">
                        <button type="button" class="btn btn-info bmd-btn-fab">
                            <i class="material-icons">border_color</i>
                        </button>
                       </a>
                       <td class="text-center">

                        <a href="{% url 'manuti:deleta_ferramenta' pk=ferramenta.id %}">
                            <button type="button" class="btn btn-danger bmd-btn-fab">
                                <i class="material-icons">delete</i>
                            </button>
                            </a>      
                         </td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                  </div>
                 <hr />
              {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                  <h5>Nenhuma <code>Ferramenta</code> cadastrada ainda.</h5>
                </div>
                <a href="{% url 'manuti:cadastra_ferramenta' %}">
                    <button type="button" class="btn btn-info bmd-btn-fab">
                        <i class="material-icons">add</i>
                    </button>
                </a>
              {% endif %}
                <hr />
               
              </div>
            </div>
          </div>
        </div>
      

{% endblock %}