{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Emergências{% endblock %}



{% block conteudo %}


        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lista de Pedidos de Emegências</h5>
      
                {% if emergencias|length > 0 %}
                  <p class="card-text">
                    Aqui está a lista das <code>Emergências já solicitadas no </code> SILOMS.
                  </p>
      
                  <div class ="table-responsive">
                  <table class="table table-striped" >
                    <thead class="card-header card-header-info">
                        <div class="ct-chart" id="#"></div>
                    <tr>
                      <th scope="col">Aeronave</th>
                      <th scope="col">Data</th>
                      <th scope="col">Nº O.S</th>
                      <th scope="col">Nº Emergência</th>
                      <th scope="col">Tipo</th>
                      <th scope="col" >Equipamento</th>                      
                      <th scope="col" class="text-center">Alterar </th>
                      <th scope="col" class="text-center">Resolver </th>
                      <th scope="col" class="text-center">
                      <div class="text-right">
                    <a href="{% url 'manuti:cadastra_emergencia' %}">
                        <button type="button" class="btn-info bmd-btn-fab">
                            <i class="material-icons">add</i>
                        </button>
                    </a>
                </div>
                       </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for emergencia in emergencias %}
                      <tr>
                        <th scope="row">{{ emergencia.anv }}</th>
                        <td>{{ emergencia.data }}</td>
                        <td> {{emergencia.ordemdeservico }}</td>
                        <td> {{emergencia.emergencia }}</td>
                        <td> {{emergencia.tipo }}</td>
                        <td> {{emergencia.equipamento }}</td>
                        
                        
                        
                        <td class="text-center">

                        <a href ="{% url 'manuti:atualiza_emergencia' pk=emergencia.id %}">
                        <button type="button" class="btn btn-info bmd-btn-fab">
                            <i class="material-icons">border_color</i>
                        </button>
                       </a>
                       <td class="text-center">

                          {% if emergencia.resolveemergencia == False %}
                          <a href="{% url 'manuti:resolveemergencia' pk=emergencia.id %}">
                          <button type="button" class="btn btn-danger bmd-btn-fab "> 
                            <i class="material-icons">  thumb_down </i>  
                          </button>
                          </a>{%else%}
                          <a href="{% url 'manuti:resolveemergencia' pk=emergencia.id %}">
                          <button type="button" class="btn btn-success bmd-btn-fab  "> 
                            <i class="material-icons">  thumb_up </i>  
                          </button>
                          </a>{%endif%}              
                         </td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                 <hr />
              {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                  <h5>Nenhuma <code>Emergência</code> cadastrada ainda.</h5>
                </div>
                <a href="{% url 'manuti:cadastra_emergencia' %}">
                  <button type="button" class="btn btn-info bmd-btn-fab">
                      <i class="material-icons">add</i>
                  </button>
              </a>
              {% endif %}
                <hr />
               
              </div>
            </div>
          </div>
        </div>
      

{% endblock %}