{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Itens de Suprimento{% endblock %}

{% load primeira_letra %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Itens de Suprimento</h5>

          {% if suprimentos|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Entrada e Saída </code> de Itens de Suprimento.
            </p>
          <div class ="table-responsive">
            <table class="table table-striped" >
              <thead class="card-header card-header-info">
                  <div class="ct-chart" id="#"></div>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">PN</th>
                <th scope="col">SN</th>
                <th scope="col">Recol</th>
                <th scope="col">E/S</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for suprimento in suprimentos %}
                <tr>
                  <th scope="row">{{ suprimento.data}}</th>
                  <td>{{ suprimento.nome }}</td>
                  <td> {{suprimento.partnumber }}</td>
                  <td> {{suprimento.serialnumber }}</td>
                  <td> {{suprimento.recol}}</td>
                  <td> {{suprimento.opcaosup }}</td>
                  <td class="text-center">
                    <a href="{% url 'manuti:atualiza_suprimento' pk=suprimento.id %}">
                    <button type="button" class="btn btn-info bmd-btn-fab">
                        <i class="material-icons">border_color</i>
                    </button>
                    </a> 
                    <a href="{% url 'manuti:deleta_suprimento' pk=suprimento.id %}">
                    <button type="button" class="btn btn-danger bmd-btn-fab">
                        <i class="material-icons">delete</i>
                    </button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Item</code> registrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'manuti:cadastra_suprimento' %}">
                <button type="button" class="btn btn-success bmd-btn-fab">
                    <i class="material-icons">add</i>
                </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}