{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Registros{% endblock %}

{% load primeira_letra %}

{% block conteudo %}


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class=" search-div">
          <form method="GET">
                       
            <input type="text" class="form-control" name="search" id="search" placeholder="PESQUISAR">
                  
          </form>       
        </div>
        <div class="card-body">
          <h5 class="card-title">Lista de Registro</h5>

          {% if registros|length > 0 %}
            <p class="card-text">
              Aqui está a lista de <code>Registros de Atividades de Manutenção</code> cadastrados.
            </p>
            
            <div class ="table-responsive">
            <table class="table table-striped">
                <thead class="card-header card-header-info">
                    <div class="ct-chart" id="#"></div>
              <tr>
                <th scope="col">ANV</th>
                <th scope="col">Data</th>
                <th scope="col">Título</th>
                <th scope="col">Ocorrência</th>
                <th scope="col">Solução</th>
                <th scope="col" class="text-center">Ações</th>
                <th scope="col" class="text-center"></th>
              </tr>
              </thead>
              <tbody>
              {% for registro in registros %}
                <tr>
                  <th scope="row">{{ registro.anv }}</th>
                  <td>{{ registro.data }}</td>
                  <td> {{registro.titulo }}</td>
                  <td> {{ registro.ocorrencia }}</td>
                  <td> {{registro.solucao }}</td>
                 
                  <td class="text-center">
                    <a href="{% url 'manuti:atualiza_registro' pk=registro.id %}"
                    <button type="button" class="btn btn-info bmd-btn-fab">
                        <i class="material-icons">border_color</i>
                    </button>
                    </td>
                    </a>
                    <td class="text-center">
                    <a href="{% url 'manuti:deleta_registro' pk=registro.id %}"
                    <button type="button" class="btn btn-danger bmd-btn-fab">
                        <i class="material-icons">delete</i>
                    </button>
                    </a>
                  </td>
                </tr>
               
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Registro</code> cadastrado ainda.</h5>
          </div>
        {% endif %}
          <hr />
          <div class="text-right">
            <a href="{% url 'manuti:cadastra_registro' %}">
                <button type="button" class="btn btn-success bmd-btn-fab">
                    <i class="material-icons">add</i>
                </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}