{% extends "manuti/_layouts/indexMaterial.html" %}

{% block title %}ResoveCombs{% endblock %}

{% block conteudo %}
 
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Resolvendo Combs</h5>

        <p class="card-text">
          Você tem certeza que deseja Resolver o <b>{{ resolvecombs.nome}} </b> da aeronave <b> {{ resolvecombs.aeronave }}</b>?
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <div class="text-right">
            <a href="{% url 'manuti:atividade_manuti' %}" class="btn btn-outline-info">
              Cancelar
            </a>


            <button class="btn btn-success">Resolver</button>
         
          </div>
        </form>
      </div>
    </div>
  
{% endblock %}