{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Equipamentos{% endblock %}



{% block conteudo %}


        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Lista de Atividades realizadas</h5>
      
                {% if siloms|length > 0 %}
                  <p class="card-text">
                    Aqui está a lista das <code>Ultimas Atividades </code> Realizadas.
                  </p>
                <div class ="table-responsive">
                  <table id='lista' class="table table-striped" >
                    <thead class="card-header card-header-info">
                        <div class="ct-chart" id="#"></div>
                    <tr>
                      <th scope="col">Aeronave</th>
                      <th scope="col">Data</th>
                      <th scope="col">Ocorrência</th>
                      <th scope="col">Solução</th>
                      
                      <th scope="col" class="text-center">Resolver </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for silom in siloms %}
                      <tr>
                        <th scope="row">{{ silom.anv }}</th>
                        <td>{{ silom.data }}</td>
                        <td> {{silom.ocorrencia }}</td>
                        <td> {{silom.solucao }}</td>
                        
                        
                        <td class="text-center">

                          {% if silom.resolvesiloms == False %}
                          <a href="{% url 'manuti:resolvesiloms' pk=silom.id %}">
                          <button type="button" class="btn btn-danger bmd-btn-fab "> 
                            <i class="material-icons">  thumb_down </i>  
                          </button>
                          </a>{%else%}
                          <a href="{% url 'manuti:resolvesiloms' pk=silom.id %}">
                          <button type="button" class="btn btn-success bmd-btn-fab  "> 
                            <i class="material-icons">  thumb_up </i>  
                          </button>
                          </a>{%endif%}              
                         </td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                  <h5>Nenhum <code>Equipamento</code> instalado ainda.</h5>
                </div>
              {% endif %}
                <hr />
               
              </div>
            </div>
          </div>
        </div>
      

{% endblock %}