{% extends "manuti/_layouts/indexMaterial.html" %}


{% block title %}Lista de Aeronaves{% endblock %}

{% load primeira_letra %}

{% block conteudo %}

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Aeronaves</h5>

          {% if visualizaanvs|length > 0 %}
            <p class="card-text">
              Aqui está a lista das <code>Aeronaves</code> cadastradas.
            </p>

            <table class="table">
              
              <tbody>
              <div class="row">
              {% for visualizaanv in visualizaanvs %}
                {% comment %} <tr>
                  <th scope="row">{{ visualizaanv.nome }}</th>
                  
                  <td class="text-center">
                    <a href="{% url 'manuti:lista_registros_aeronave' fk=visualizaanv.id %}"
                       class="btn btn-success">
                      Visualizar
                    </a>
                    
                  </td> {% endcomment %}
                    
                      <div class="col-md-4">
                        <div class="card card-chart">
                          <div class="card-header card-header-success">{{ visualizaanv.nome }}
                            <div class="ct-chart"></div>
                          </div>
                          <div class="card-body">
                            <h4 class="card-title">{{ visualizaanv.nome }}</h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-flight"></i> {{registros}} </span> Registros de atividades</p>
                          </div>
                          <div class="card-footer">
                            <div class="stats" >
                              <a href="{% url 'manuti:lista_registros_aeronave' fk=visualizaanv.id %}"
                        class="btn btn-success" "text-center">
                        Visualizar
                      </a>
                            </div>
                          </div>
                        </div>
                      </div>
              {% endfor %}
            </div> 
              </tbody>
            </table>
        {% else %}
          <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma <code>Aeronave </code> cadastrada</h5>
          </div>
        {% endif %}
          <hr />
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}